@import "./scss/typography.scss";
@import "./scss/mixins.scss";

$c-green-dk: #02643b;
$c-green-md: #038851;
$c-green-lt: #05cb79;

$c-grey-lt: #9b9b9b;
$c-grey-dk: #1c1c1c;
$c-grey-md: #4f4f4f;

$c-orange: #ff5f3b;

body {
    margin: 0;
    font-family: "Open Sans", Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 0 30px;
    box-sizing: border-box;

    @include mq(476px, "max-width") {
        align-items: start;
    }
}

.complete {
    text-align: center;
    font-size: 1.25rem;
    width: 320px;
    max-width: 100%;

    .success {
        display: block;
        font-size: 2rem;
        font-weight: 500;
        color: $c-green-md;
        margin-bottom: 1rem;
    }
}

h1 {
    margin-top: 0;
}

@import "./scss/panel.scss";
@import "./scss/logo-grid.scss";
@import "./scss/forms.scss";
@import "./scss/buttons.scss";
